<p>Hola.</p>
<p>Lamentablemente se ha excedido del límite de gastos para la categoría
  {{category}}. El límite de la categoría es de ${{limit}}. Por favor verifique
  si quere extender el límite mensual propuesto.</p>
<p>
  Gracias!
</p>

<p>Si no solicitó este email por favor ignórelo.</p>