<p>Hey there!</p>
<p>{{adminName}} has invited you to join his {{groupName}} group!</p>
<p>
  <a href='{{url}}'>Click to join</a>
</p>

<p>If you don't know {{adminName}}, please disregard this email.</p>